mixin icon(name, className, widthValue, heightValue)
  - var icon = require(`images/icons/${name}.svg`).default;
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none" width=widthValue height=heightValue)
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className, widthValue, heightValue)
  img(src=require(`images/${path}`).default class=className width=widthValue height=heightValue)

mixin nav-list(listClassName, itemsClassName, navClassName)
  -
    var menuTabs = [
      {
          label: 'Обо\u00A0мне',
          link: '#info'
      },
      {
          label: 'Навыки',
          link: '#skills'
      },
      {
          label: 'Работы',
          link: '#examples'
      },
      {
          label: 'Отзывы',
          link: '#reviews'
      },
    ] 
  nav(class=navClassName && `${navClassName}`)
    ul(class=`${listClassName}`)
      each menuTab in menuTabs
        li(class=`${itemsClassName}`)
          a(href=menuTab.link)= menuTab.label

mixin social-list(listClassName, itemsClassName, imgsClassName, isFooter)
  - 
    var socialTabs = [
      {
        title: 'Instagram',
        img: 'inst',
        link: '#'
      },
      {
        title: 'Github',
        img: 'github',
        link: '#'
      },
      {
        title: 'VK',
        img: 'vk',
        link: '#'
      },
      {
        title: 'Email',
        img: 'email',
        link: '#'
      },
    ]
  ul(class=`${listClassName}`)
    each socialTab in socialTabs
      li(class=`${itemsClassName}`)
        a(href=socialTab.link, target="_blank", title=socialTab.title, class=isFooter && ['footer__social-link', `footer__social-link--${socialTab.img}`])
          +icon(socialTab.img, [`${imgsClassName}`, `${imgsClassName}--${socialTab.img}`], 30, 30)

mixin skill-progress-bar(skillName)
  .skills__chart-progress
    svg(viewBox="0 0 160 160", width="150", heigth="150", preserveAspectRatio="xMidYMid meet")
        circle(cx="80", cy="80", r="70", ref="circle-progress" stroke="url(#linear)")
        circle(cx="80", cy="80", r="70")
    .skills__chart-tech
      p.skills__chart-tech-text= skillName
